# UM02 
## Bar visualization

### Import database

In [2]:
import sqlite3

#connection
conn = sqlite3.connect('UTSEUS-shanghai-dianping.db')
c = conn.cursor()

#request 
c.execute('SELECT name, latitude, longitude, avg_rating, category, avg_price, address, product_score, decoration_score, service_score FROM venues, venue_categories WHERE venues.business_id = venue_categories.business_id')
venues = c.fetchall()

In [3]:
from coord_convert.transform import wgs2gcj, wgs2bd, gcj2wgs, gcj2bd, bd2wgs, bd2gcj 
lon, lat = 120, 40
gcj_lon, gcj_lat = wgs2gcj(lon, lat)
bd_lon, bd_lat = wgs2bd(lon, lat)
print(gcj_lon, gcj_lat) # the result should be: 120.00567568355486 40.0013047896019

120.00567568355486 40.0013047896019

### Clean data and make dataframe

In [4]:
import pandas as pd 

labelsD= ['name','latitude', 'longitude', 'scores','category', 'price', 'address', 'product', 'decoration', 'service']
df_Dianping = pd.DataFrame.from_records(venues, columns=labelsD)

# remove duplicate
df_Dianping = df_Dianping.drop_duplicates(subset=['name'], keep='first')
#only bar
df_Bar = df_Dianping[['酒吧' in cat for cat in df_Dianping['category']]]
#only price existing
df_Bar = df_Bar[(df_Bar['price'] > 0)]
#only ranking 
df_Bar = df_Bar[(df_Bar['scores'] > 0)]

In [5]:
for i in range(427):
    df_Bar['name'].values[i] = df_Bar['name'].values[i].split('(这是')[0]

In [12]:
# correct coordinates 
from coord_convert.transform import wgs2gcj, wgs2bd, gcj2wgs, gcj2bd, bd2wgs, bd2gcj 
for j in range(427):
    df_Bar['longitude'].values[j], df_Bar['latitude'].values[j] = gcj2wgs(df_Bar['longitude'].values[j],df_Bar['latitude'].values[j])

### Create a new csv

In [11]:
df_Bar.to_csv('bar.csv', sep='\t', encoding='utf-8')

### Map

https://lolejeun.carto.com/builder/53ca87ee-c5f3-4163-88a3-272e6568e0dc/embed